<div class="container">
    <div class="todo-list">
        <form (ngSubmit)="add(taskNgForm);" #taskNgForm="ngForm" #form>
            <div class="input-group">
                <input readonly name="date" [matDatepicker]="picker" [(ngModel)]="date">
                <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>
            
            <div class="input-group">
                <input #newTask="ngModel" required minlength="4" name="taskTitle" type="text" placeholder="Todo" [(ngModel)]="newTaskTitle">
                <button [disabled]="!form.checkValidity()" class="button button-secondary">+</button>
            </div>
            <div *ngIf="newTask.invalid && (newTask.touched || newTask.dirty)" class="validationError">
                <div *ngIf="newTask.errors?.['required']">Task Title is required</div>
                <div *ngIf="newTask.errors?.['minlength']">Title should be aleast 4 characters</div>
            </div>
        </form>
        <table>
            <tr *ngFor="let task of tasks; let i = index" [class.even]="i%2==0" [class.odd]="i%2!=0">
                <td>
                    <pre [class.is-done]="task.isDone">{{task.title}}</pre>
                </td>
                <td>
                    <button (click)="removeTask(task)" class="remove-button">X</button>
                    <button (click)="task.toggleDone()" class="done-button">{{task.isDone? "Undo" : "Done"}}</button>
                </td>
            </tr>
        </table>
    </div>
</div>